@import 'header-game';
@import 'padrao-cores';
@import 'animacoes';
@import 'modal';

@font-face {
    font-family: 'mario';
    src: url('../font/SuperMario256.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cenario {
    position: relative;
    margin: 1% auto;
    overflow: hidden;
    width: 80%;
    height: 100vh;
    
    background-image: linear-gradient(#87CEEB, #E0F6FF);
    border-bottom: 15px solid rgb(35, 160, 35);
    
    &.start {
      
        .img-clouds {
            animation: clouds-animation 20s infinite linear;
        }
    
        .img-clouds2 {
            animation: clouds-animation 20s infinite linear 9s; 
        }
    
        .img-clouds3 {
            animation: clouds-animation 20s infinite linear 13s;
        }
        
        .img-coin {
            animation: mover-elementos 7s infinite linear;
        }
    
        .img-coin2 {
            animation: mover-elementos 7s infinite linear 5s;
        }
    
        .img-coin3 {
            animation: mover-elementos 7s infinite linear 1s;
        }
        
        .img-star {
            animation: mover-elementos 11s infinite linear;
        }

        .img-star2 {
            animation: mover-elementos 11s infinite linear 8s;  
        }
    }


    .sleep {
        width: 80%;
        height: 100vh;
        margin: 1% auto;
        overflow: hidden; 
        
        display: none;

        &.active {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            animation: fade-up .5s forwards;
        }

        .contagem {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 15%;
            width: 150px; 
            height: 150px;
            background-color: white;
            border-radius: 50%;
            border: solid 10px $corVermelho;
            box-shadow: 1px 1px 20px rgba(0, 0, 0, .80);
            font-size: 55px; 
            animation: pulsar-animate 1s infinite;
        }

        .regras-jogo {
            margin-top: 50px;
            width: 700px;
            background-color: white;
            box-shadow: 1px 1px 20px rgba(0, 0, 0, .80);
            padding: 10px;
            border-radius: 10px;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 5px;

            img {
                display: block;
                width: 100px;
            }

            .bloco-regras {
                display: grid;
                grid-template-rows: auto;
                gap: 10px;
                width: 100%;
                justify-content: center;
                justify-items: center;
                align-items: center;
                text-align: center;
                font-size: 14px;
                border-radius: 5px;
                background-color: rgb(243, 243, 243);
                color: black; 
            }
    } 
}

    .img-clouds {
        position: absolute;
        width: 450px;
        top: 200px;
        right: -500px;
    }

    .img-clouds2 {
        position: absolute;
        width: 300px;
        top: 300px;
        right: -500px;
    }

    .img-clouds3 {
        position: absolute;
        width: 200px;
        top: 30px; 
        right: -500px;
    }
    
    .img-mario {
        width: 150px;
        position: absolute;
        bottom: 0;
    }
    
    .img-bullet {
        position: absolute;
        width: 200px;
        bottom: 100px;
        right: -200px;
    }
    
    .img-pipe {
        position: absolute;
        bottom: 0;
        right: -90px;
        width: 80px;
    } 
    
    .img-coin {
        width: 130px;
        position: absolute;
        bottom: 170px;
        right: -130px;
    }
    
    .img-star {
        width: 140px;
        position: absolute;
        top: 80px;
        right: -130px;
    }

    .img-egg {
        width: 100px;
        position: absolute;
        bottom: -14px;
        margin-bottom: 0;  
        right: -130px;

        display: none; 
    }

    .img-yoshi {
        width: 150px;
        position: absolute;
        bottom: 0;

        display: none;
    }

    .img-atack {
        width: 240px;  
        position: absolute;
        bottom: 0;

        display: none;
    }

    .jump {
        animation: jump-mario 500ms ease-out;
    } 
    
    .fly {
        animation: fly-mario 1.5s ease-out;
    }

    .abaixar {
        width: 80px;
        left: 50px;  
    }
}
 


.azul {
    color: $corAzul;
}

.amarelo {
    color: $corAmarelo;
}

.vermelho {
    color: $corVermelho;
}

.verde {
    color: $corVerde;
}