@import url("./background.css");
@import url("./header.css");
@import url("./main.css");
@import url("./animation.css");


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --text: #EDF1F7;
  --h1: #f868f8;
    font-size: 62.5%;
}

body {
  color: var(--text);
  font: 400 2rem "Madimi One", sans-serif;
  font-style: normal;
  background-color: #F6F7F8;
}

a {
  text-decoration: none;
}

.button:hover {
  cursor: pointer;
}