header {
    display: flex;
    align-items: center;
    column-gap: 64px;

    width: 100%;
    max-width: 1520px;
    padding-top: 24px;
}

.navigation-social {
    margin-left: auto;
    margin-right: 20px;

    display: flex;
    align-items: center;
    column-gap: 24px;
}

.navigation-social svg {
    width: 20px;
    height: 20px;
    opacity: 0.6;

    transition: all 0.4s;
}

.navigation-social svg:hover {
    opacity: 1;
    transform: translate(-5px);
}

